<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>MVC Delicious Burgers!</title>

    <script src="https://code.jquery.com/jquery.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Fredericka+the+Great" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css" />

    <script src="/assets/js/eat_burgers.js"></script>
</head>

<body>
    {{{ body }}}
    <div class="text-center">
        <p>
            <a href="https://www.freepik.com/free-vector/burger-menu-chalk-design_1115237.htm">Chalkboard Cheeseburger
                designed by Freepik</a>
        </p>
    </div>
</body>

</html>